{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static '/custom.css' %}">
        {% block head %} {% endblock %}
        <style>
            h3 {
                margin: 0 16px;
            }
            form {
                display: flex;
                flex-direction: column;
                padding: 8px 16px;
            }
            label {
                display: block;
                margin-top: 16px;
            }
            .publications {
                max-width: 1080px;
                margin: auto;
            }
            .publications h3 {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">LiveJournale</a>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" style="width: 100%">
                    {% if user.is_authenticated %}
                        <li class="nav-item {% if view_name == 'all_pubs' %} active {% endif %}">
                            <a class="nav-link"
                               href="/">
                                Все публикации
                            </a>
                        </li>
                        <li class="nav-item {% if view_name == 'sub_pubs' %} active {% endif %}">
                            <a class="nav-link"
                               href="/?only_subscribed=t">
                                Моя лента
                                {% if new_count > 0 %}
                                    <span class="badge badge-primary">
                                        {{ new_count }}
                                    </span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item {% if view_name == 'create_publication' %} active {% endif %}">
                            <a class="nav-link" href="/create_publication/">Создать публикацию</a>
                        </li>
                        <li class="nav-item ml-auto">
                            <a class="nav-link" href="/logout/">Выйти из аккаунта</a>
                        </li>
                    {% else %}
                        <li class="nav-item {% if view_name == 'authorization' %} active {% endif %} ml-auto">
                            <a class="nav-link" href="/auth/">Авторизация</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div style="margin-top: 16px">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>